<div class='controller' ng-controller='CompController as compController'>

  <div class='home' layout-padding>
    <md-button class='md-fab md-primary md-mini' ng-click="compController.home()">
      <i class="material-icons">settings_backup_restore</i>
    </md-button>
  </div>

  <div class='vertCenter' ng-show='compController.showSpinner'>
    <span us-spinner spinner-theme='bigBlue'></span>
  </div>

  <div class='container topBotPad' ng-if='compController.dataLoaded'>
    <ui-gmap-google-map control='compController.control' center='compController.map.center' zoom='compController.map.zoom' options='compController.options'></ui-gmap-google-map>
  </div>

  <div class='container topBotPad' ng-if='compController.dataLoaded'>
    <highchart config='compController.chartOptions'></highchart>
  </div>

  <!-- <div class='container-fluid' ng-show='compController.dataLoaded'>
    <div class='container' ng-repeat='ride in compController.uberPrice'>
      {{ride.display_name}}:
      {{ride.estimate}}
    </div>

    <div class='container' ng-repeat='ride in compController.lyftPrice'>
      {{ride.display_name}}:
      {{ride.estimate}}
    </div>
  </div> -->

</div>
