/*.swap {
  position: absolute;
  top: 65%;
  right: 0;
  transform: translate(-60%, -50%);
}
.curLoc {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translate(-60%, -50%);
}
.getLocSpinner {
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translate(-50%, -50%);
}*/

#home {
  background-image: url('../img/sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.userForm {
  background-color: #EE7F7F;
}
.userFormInput {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.userInput {
  background-color: white !important;
  padding: 30px 30px 30px 30px !important;
  border-bottom: 0 !important;
  font-size: 18px;
}
.userLabel {
  padding: 30px !important;
}
.title {
  color: white;
  margin-top: 0;
  text-align: center;
}
.submit:not([disabled]) {
  color: black;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  font-size: 16px;
  width: 25%;
}
.submit:not([disabled]):hover {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  color: black;
}
.submit[disabled] {
  width: 25%;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}
.reset:not([disabled]) {
  color: white;
  background-color: rgb(255, 87, 34);
  border-radius: 15px 15px 15px 15px;
  font-size: 16px;
  width: 25%;
}
.reset:not([disabled]):hover {
  background-color: rgb(255, 87, 34);
  border-radius: 15px 15px 15px 15px;
  color: white;
}
.reset[disabled] {
  width: 25%;
  background-color: white;
}
.md-button .md-ripple-container {
  border-radius: 15px 15px 15px 15px !important;
}
