.swap {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(80%, -50%);
}

.curLoc {
  position: absolute;
  top: 15%;
  right: 0;
  transform: translate(80%, -50%);
}

.getLocSpinner {
  position: absolute;
  top: 15%;
  left: 0;
  transform: translate(-150%, -50%);
}
