.controller {
  height: 100%;
}

.vertCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50% !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
